
.form--button{
    grid-column: 1/-1;

}
.form--inputs{
    border: 1px solid #919191;
    border-radius: 3px;
    padding: 3px 6px;
    text-indent: 3px;
    font-size: small;
} 

.meme--text--top{
    color: white;
    font-size: 2.3em;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.meme--text--bottom{
    color: white;
    font-size: 2.3em;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}